#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  box-sizing: border-box;
}
body{
  background-color: #03001c;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size:  18px;
}
/* h1{
  color: #060131
} */




